*{
    margin:0;
    padding:0;
}
.container{
    background-color: black;
    height:82vh;
    width:420px;
    margin:auto;
    border-radius:20px;
    margin-top:60px;
    padding-bottom:10px;
}
#display{
    border:none;
    outline:none;
    background-color:black;
    height:75px;
    margin:10px;
    font-size: 3.3rem;
    width:88%;
    color:white;
    padding:8px;
    padding-left:12px;
    cursor:pointer;
}
#display:focus {
    outline: none;
    border: none;
}
#button{
    padding:15px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:7px;
}
.btn{
    height:5rem;
    width:5rem;
    border-radius:50%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
    cursor:pointer;
    border:none;
}
.btn:hover{
    background-color: lightgrey;
}
.operator{
    background-color: orange;
}
.operator:hover{
    background-color: orange;
}
.operator.disabled{
    background-color: lightgrey;
    cursor:none;
}